# Environment Variables for project

NEXT_PUBLIC_RPC_URL=https://orchard.rpc.quai.network
NEXT_PUBLIC_BLOCKEXPLORER_URL=https://orchard.quaiscan.io
CHAIN_ID=15000
CYPRUS1_PK=YOUR_PRIVATE_KEY
NEXT_PUBLIC_INITIAL_OWNER=YOUR_ADDRESS

NEXT_PUBLIC_DEPLOYED_CONTRACT=YOUR_CONTRACT_ADDRESS